@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix.inc</title>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <div class="container">
        <h1>Matrix.inc</h1>

        <div class="buttons">
            <button class="product">Producten</button>
            <div class="gegevens">
                <button class="inloggen">Inloggen</button>
                <button class="registreren">Registreren</button>
                <button class="gegevens">Gegevens</button>
                <button class="winkel">
                <button class="winkelwagen">🛒</button>

            </div>
        </div>
        <hr />

        <div class="product-grid">
            @foreach (var product in Model.Products)
            {
                <div class="product-card">
                    <img src="@product.Id" alt="@product.Name" />
                    <h1>@product.Name</h1>
                    <h2>Prijs = @product.Price.ToString("0.00")</h2>
					<h3>Beschrijving: @product.Description</h3>
                    <button class="winkel">Toevoegen aan winkelwagen</button>
                </div>
            }
        </div>

        <footer class="onderaan">
            <div class="footer">
                <h2>Over ons</h2>
            </div>
        </footer>
    </div>
</body>
</html>


<table class="table">
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>           
        </tr>
    }
</table>